
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>

    <title>Search For Knowledge, Son!</title>
    @Styles.Render("~/styles")

</head>
<body>
    <!-- start header -->
<div id="header">
    <div id="logo">
        <a href="@Url.RouteUrl("Home")">
            <img src="~/Content/Styles/images/logoNew.png"/>
        </a>
    </div>

    <br/>

    <div id="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search in posts ...">
            <span class="input-group-btn">
                        <a href="#" id="searchColour" class="btn btn-info"><i class="glyphicon glyphicon-search"></i></a>
                    </span>
        </div>
    </div>
</div>

<div id="greeting">
    @if (HttpContext.Current.Session["userName"] != null && !Session["userName"].Equals(""))
    {
        <div class="pull-right">Welcome back @Session["userName"].ToString()!</div>
    }
</div>
  
    <!-- end header -->
    <!-- star menu -->
    <div id="menu">
        <ul>
            <li><a href="@Url.RouteUrl("Home")"><div class="navFont">Home</div></a></li>

            @if (HttpContext.Current.Session["userName"] == null)
            {
            <li><a href="@Url.RouteUrl("Register")"><div class="navFont">Register</div></a></li>
            }
            
            @if (HttpContext.Current.Session["userName"] == null)
            {
            <li class="pull-right"><a href="@Url.RouteUrl("Login")"><div class="navFont">Login</div></a></li>
            }
            <li><a href="@Url.RouteUrl("About")"><div class="navFont">About</div></a></li>
            @if (HttpContext.Current.Session["userName"] != null && !Session["userName"].Equals(""))
            {
            <li><a href="@Url.RouteUrl("CreatePost")"><div class="navFont">Create a post</div></a></li>
            }
            <li>
                @if (HttpContext.Current.Session["userName"] != null && !Session["userName"].Equals(""))
                {
                <a id="adminTest" href="@Url.RouteUrl("AdminPage")"><div class="navFont">Admin pag</div>e</a>
                }
            </li>

            <li class="pull-right">
                @if (HttpContext.Current.Session["userName"] != null && !Session["userName"].Equals(""))
                {
                    <a href="@Url.RouteUrl("Logout")" data-post="Are you sure you want to Logout?"><div class="navFont">Logout</div></a>
                }
            </li>
        </ul>
    </div>





<div id="page">
    <div id="content">
        @RenderBody()
    </div>
    <div id="sidebar">
        <div id="sidebarContent">
            <div>
                <a href="#">Programming</a>
            </div>
            <br/>
            <div>
                <a href="#">Design</a>
            </div>
        </div>
    </div>
    <div id="footer">
        &copy; @DateTime.UtcNow.Year - Janis Indrans, Viktor Meduneckij, Nikita Cimaskevic
    </div>
</div>
    @* ImgZoom Begins ---------------------------------------------- *@
    <div class="overlay"></div>
<div align="center">
    <p id="ZoomImageLarge"></p>

    <div id="ZoomImageLarge"></div>
</div>
    @* ImgZoom Ends ------------------------------------------------ *@

        @*<div id="rightSideBar">
            





        </div>*@









        <footer></footer>
        @Scripts.Render("~/scripts")
        @RenderSection("Scripts", false)


</body>

</html>