
@using System.Web.Optimization
@using SearchForKnowledge.Controllers
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/Styles/images/logoNew.png")">
    <title>Search For Knowledge, Son!</title>
    @Styles.Render("~/styles")

</head>
<body>
    <!-- start header -->
<div id="header">
    <div id="logo">
        <a href="@Url.RouteUrl("Home")">
            <img src="~/Content/Styles/images/logoNew.png"/>
        </a>
    </div>


@using (Html.BeginForm("SearchPosts", "Posts"))
{
    <div id="search">
        <div class="input-group">
            <input type="text" name="searchString" class="form-control" placeholder="Search by title...">
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
}
</div>

<div id="greeting">
    @if (HttpContext.Current.Session["userName"] != null && !Session["userName"].Equals(""))
    {
        <div class="pull-right forText">Welcome back <div class="name" >@Session["userName"].ToString()!</div></div>
    }
</div>
  
    <!-- end header -->
    <!-- star menu -->
    <div id="menu">
        <ul>
            <li class="active"><a href="@Url.RouteUrl("Home")"><div class="navFont">Home</div></a></li>

            @if (HttpContext.Current.Session["userName"] == null)
            {
            <li><a href="@Url.RouteUrl("Register")"><div class="navFont">Register</div></a></li>
            }
            
            @if (HttpContext.Current.Session["userName"] == null)
            {
            <li class="pull-right"><a href="@Url.RouteUrl("Login")"><div class="navFont">Login</div></a></li>
            }
            <li><a href="@Url.RouteUrl("About")"><div class="navFont">About</div></a></li>
            @if (HttpContext.Current.Session["userName"] != null && !Session["userName"].Equals(""))
            {
            <li><a href="@Url.RouteUrl("CreatePost")"><div class="navFont">Create a post</div></a></li>
            }
            <li>
                @if (HttpContext.Current.Session["userName"] != null && !Session["userName"].Equals(""))
                {
                <a id="adminTest" href="@Url.RouteUrl("AdminPage")"><div class="navFont">Admin page</div></a>
                }
            </li>

            <li class="pull-right">
                @if (HttpContext.Current.Session["userName"] != null && !Session["userName"].Equals(""))
{
    <div id="messageBox">
        <a href="@Url.RouteUrl("Logout")" data-post="Are you sure you want to Logout?"><div class="navFont">Logout</div></a>
    </div>
}
            </li>
        </ul>
    </div>



<div id="page">
    <div id="content">
        @RenderBody()
    </div>

    <!-- Side bar begin---     Might move to some partial view-->

    <div id="sidebar">

        @using (Html.BeginForm("Category", "Posts"))
        {
            <div id="selection">
                <div id="sidebarContent">
                    <button class="btn btn-info" type="submit" name="categoryName" value="Programming">Programming</button>
                </div>

                <div id="sidebarContent">
                    <button class="btn btn-info" type="submit" name="categoryName" value="Design">Design</button>
                </div>

                <div id="sidebarContent">
                    <button class="btn btn-info" type="submit" name="categoryName" value="Database">Database</button>
                </div>
                <div id="sidebarContent">
                    <button class="btn btn-info" type="submit" name="categoryName" value="Security">Security</button>
                </div>
                <div id="sidebarContent">
                    <button class="btn btn-info" type="submit" name="categoryName" value="Web">Web</button>
                </div>
                <div id="sidebarContent">
                    <button class="btn btn-info" type="submit" name="categoryName" value="SystemAdministration">System Administration</button>
                </div>
            </div>
        }
    </div>

    <!-- Side bar end -->
    <div id="footer">
        &copy; @DateTime.UtcNow.Year - Janis Indrans, Viktor Meduneckij, Nikita Cimaskevic
    </div>
</div>
    @* ImgZoom Begins ---------------------------------------------- *@
    <div class="overlay"></div>
<div align="center">
    <p id="ZoomImageLarge"></p>

    <div id="ZoomImageLarge"></div>
</div>
    @* ImgZoom Ends ------------------------------------------------ *@

        @*<div id="rightSideBar">
            





        </div>*@









        <footer></footer>
        @Scripts.Render("~/scripts")
        @RenderSection("Scripts", false)


</body>

</html>