@model SearchForKnowledge.ViewModels.PostsNew
@{
    ViewBag.Title = "CreatePost";
}

@using (Html.BeginForm("CreatePost", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="panel panel-default registerPanel">
        <div class="panel-heading">
            <div class="panel-title">
                <h2>Create your post</h2>
            </div>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary()
            <div class="form-group-sm">
                @Html.LabelFor(u => u.BookTitle)
                @Html.TextBoxFor(u => u.BookTitle, new {@class = "form-control"})

            </div>

            <div class="form-group-sm">
                @Html.LabelFor(u => u.Author)
                @Html.TextBoxFor(u => u.Author, new {@class = "form-control"})
            </div>
            <div class="form-group-sm">
                @Html.LabelFor(u => u.UserId)
                @Html.TextBoxFor(u => u.UserId, new {@class = "form-control"})
            </div>
            <div class="form-group-sm">
                @Html.LabelFor(u => u.CategoryId)
                @Html.TextBoxFor(u => u.CategoryId, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.Description)
                @Html.TextBoxFor(u => u.Description, new {@class = "form-control"})
            </div>

            <div class="input-group">
                @Html.TextBoxFor(u => u.ImgFile, new { type = "file" })
            </div>
            <br/>

            <input type="submit" value="Create!" class="btn btn-primary myBtn" />
            <a href="@Url.RouteUrl("Home")"><div class="forText">or cancel</div></a>
        </div>
    </div>
    
            }
