@model SearchForKnowledge.ViewModels.AdminPage

@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()


    <div class="panel panel-default" >
        <div class="panel-heading">
            <div class="panel-title">
                <h2>Admin Page</h2>
            </div>
        </div>
        <div class="panel-body registerPanel">
            @Html.ValidationSummary()
            <div class="form-group-lg" id="test5">

                <div class="panelInput" id="descriptionTxt">
                    @Html.TextBoxFor(u => u.Username, new { @class = "form-control", placeholder = "Username" })
                </div>
            </div>

            <div class="form-group-lg" id="test5">

                <div class="panelInput" id="descriptionTxt">
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
            </div>

            <div class="form-group-lg" id="test5">

                <div class="panelInput" id="descriptionTxt">
                    @Html.TextBoxFor(u => u.SchoolName, new { @class = "form-control", placeholder = "Name of school" })
                </div>
            </div>

            <div class="form-group-lg" id="test5">

                <div class="panelInput" id="descriptionTxt">
                    @Html.TextBoxFor(u => u.Country, new { @class = "form-control", placeholder = "Country" })
                </div>
            </div>

            <div class="form-group-lg" id="test5">

                <div class="panelInput" id="descriptionTxt">
                    @Html.TextBoxFor(u => u.City, new { @class = "form-control", placeholder = "City" })
                </div>
            </div>

            <div class="form-group-lg" id="test5">

                <div class="panelInput" id="descriptionTxt">
                    @Html.TextBoxFor(u => u.Type, new { @class = "form-control", placeholder = "Type" })
                </div>
            </div>


            <input type="submit" value="Update" class="btn btn-primary myBtn"/>
            <a href="@Url.RouteUrl("Home")"><div class="forText">or cancel</div></a>
        </div>
    </div>
}