@model SearchForKnowledge.ViewModels.UsersNew
@{
    ViewBag.Title = "User";

}

@using (Html.BeginForm()) {



    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <h2>Sign up as a new user!</h2>
            </div>
        </div>
        <div class="panel-body registerPanel">
            <div class="duplicateUserMessage">@Model.DuplicateUserMessage</div>
            @Html.ValidationSummary()
            <div class="form-group-sm">
                <div class="panelItems"> @Html.LabelFor(u => u.Username) </div>
                <div class="panelInput">
                    @Html.TextBoxFor(u => u.Username, new {@class = "form-control, input"})</div>

                </div>
            <br/>
            <div class="form-group-sm">
                <div class="panelItems">
                    @Html.LabelFor(u => u.Password)</div>
                <div class="panelInput">
                    @Html.PasswordFor(u => u.Password, new {@class = "form-control, input"})</div>
                </div>
            <br/>
            <div class="form-group-sm">
                <div class="panelItems">
                    @Html.LabelFor(u => u.ConfirmPassword)</div>
                <div class="panelInput">
                    @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control, input" })</div>
                </div>
            <br/>
            <div class="form-group-sm">
                <div class="panelItems">
                    @Html.LabelFor(u => u.SchoolName)</div>
                <div class="panelInput">
                    @Html.TextBoxFor(u => u.SchoolName, new {@class = "form-control, input"})</div>
                </div>
            <br/>
            <div class="form-group-sm">
                <div class="panelItems">
                    @Html.LabelFor(u => u.Country)</div>
                <div class="panelInput">
                    @Html.TextBoxFor(u => u.Country, new {@class = "form-control, input"})</div>
                </div>
            <br/>
            <div class="form-group">
                <div class="panelItems">
                    @Html.LabelFor(u => u.City)</div>
                  <div class="panelInput">  @Html.TextBoxFor(u => u.City, new {@class = "form-control, input"})</div>
                </div>


            <input type="submit" value="Sign up" class="btn btn-primary myBtn"/>
            <a href="#">
                <div class="forText">or cancel</div></a>
        </div>
    </div>
}
